/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    gencDNA Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Currently only supports local, but additional platforms can be added
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl=2

manifest {
  description = 'gencDNA caller with Nextflow' 
  author = 'Robert Linder'
  nextflowVersion = '>=23.10.0'
}

/* 
 * defines execution profiles for different environments  
 */

 docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
 }

 conda.enabled = true

 profiles {
    standard {
        process.executor = 'local'
        process.cache = 'lenient'
    }
 }

 process {
    withLabel: big_mem {
        cpus = 6
        memory = 24.GB
    }
    withLabel: calling {
        container = 'rlinder02/gencdna_indel:v1.0.11'
        //container = 'google/deepconsensus:1.2.0-gpu'
        //containerOptions = '--gpus all -u $(id -u):$(id -g)'
    }
        withLabel: plot {
        container = 'rlinder02/r_analyses:v1.0.0'
        //container = 'google/deepconsensus:1.2.0-gpu'
        //containerOptions = '--gpus all -u $(id -u):$(id -g)'
    }

 }